// colors variabales
$color-main: #02070f;
$color-danger: red;
$color-whate: #ffffff;
$color-primary: #037fff;
$color-secondary: #d9138a;
$color-tarnary: #e2d810;

// font size variable
$font-size-default: 1.6rem;
$font-size-heading: 3.4rem;
$font-size-sub-heading: 2.2rem;
$font-size-mid-heading: 2.4rem;
