@import "../../../sass/main";

.name {
  width: 100%;
  min-height: 100px;
  background-color: rgba($color: $color-whate, $alpha: 0.3);
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-title {
    font-size: $font-size-default;
  }
}
